.weatherWidget--location {
	background-color: #222;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	border: 5px solid #64BFE3;
	color: #ddd;
}

.weatherWidget--category {
	font-family: American Typewriter;
}

.weatherWidget--subheader {
	font-family: Inconsolata;
}

.weatherWidget--temperature {
	font-family: Inconsolata;
	font-size: 2em;
}

.weatherWidget--icon {
	width: 64px;
	height: 64px;
	margin: -10px auto 0;
}

.weatherWidget--block {
	color: #222;
	padding: 10px 0;
	margin-top: 10px;
}

.weatherWidget--block:last-of-type {
	border-radius: 0 0 20px 20px;
}

.weatherWidget--button {
	color: #222;
	border: none;
	outline: none;
	margin: 0 2px;
}


.weatherWidget--button:focus {
	background: #222;
	color: white;
}

.weatherWidget--button:hover {
	background: #222;
	color: white;
}

.weatherWidget--button, .weatherWidget--block {
	background: #64BFE3;
    background: -webkit-linear-gradient(#64BFE3, #91ECFF);
    background: -o-linear-gradient(#64BFE3, #91ECFF);
    background: -moz-linear-gradient(#64BFE3, #91ECFF);
    background: linear-gradient(#64BFE3, #91ECFF);
}